<button mat-button (click)="change_theme()" class="change_theme">
  <mat-icon aria-label="campaign">brightness_medium</mat-icon>
</button>
<div class="content">
  <div class="under_typewriter">
    <span class="bigtext">SAIF DINNE JELASSI </span>
  </div>
  <div class="typewriter">
    <h1>
      <span style="color: #ff7f50">|</span> Web Developer || Financial Analyst
    </h1>
  </div>
</div>

<div class="content1">
  <button mat-flat-button routerLink="/h/home">Home</button>
</div>

<div class="content2">
  <button mat-mini-fab color="basic" class="social-media">
    <i class="material-icons">facebook</i>
  </button>
  <button mat-mini-fab color="basic" class="social-media">
    <i class="material-icons">facebook</i>
  </button>
  <button mat-mini-fab color="basic" class="social-media">
    <i class="material-icons">facebook</i>
  </button>
</div>
