<button mat-button (click)="change_theme()" class="change_theme">
  <mat-icon aria-label="campaign">brightness_medium</mat-icon>
</button>
<div class="content">
  <div class="under_typewriter">
    <span class="bigtext">Saif Dinne Jelassi </span>
  </div>
  <div class="typewriter">
    <h1>
      <span style="color: #11b27c">|</span> Web Developer || Financial Analyst
    </h1>
  </div>
</div>

<div class="content1">
  <button mat-flat-button routerLink="/h/home">Start</button>
</div>

<div class="content2">
  <a
    mat-mini-fab
    color="basic"
    href="https://twitter.com/SaifJlassi2"
    target="_blank"
  >
    <img src="../../assets/twitter.png" alt="github" class="social-media" />
  </a>
  <a
    mat-mini-fab
    color="basic"
    href="https://github.com/laakri?tab=overview&from=2023-06-01&to=2023-06-17"
    target="_blank"
  >
    <img
      src="../../assets/GitHub-Mark-removebg-preview.png"
      alt="github"
      class="social-media"
    />
  </a>
  <a
    mat-mini-fab
    color="basic"
    href="https://www.facebook.com/profile.php?id=100008087239478"
    target="_blank"
  >
    <img src="../../assets/facebook.png" alt="github" class="social-media" />
  </a>
</div>
