<div class="mainpage">
  <mat-toolbar>
    <a routerLink=""><span>_Laakri</span></a>
    <span class="example-spacer"></span>

    <div class="left-content">
      <button
        mat-button
        [routerLink]="['/h/home']"
        routerLinkActive="activebutton"
      >
        Home
      </button>
      <button
        mat-button
        [routerLink]="['/h/about']"
        routerLinkActive="activebutton"
      >
        About
      </button>
      <button
        mat-button
        [routerLink]="['/h/resume']"
        routerLinkActive="activebutton"
      >
        Resume
      </button>
      <button mat-raised-button class="hire-button">Hire me</button>
      <button mat-button (click)="change_theme()">
        <mat-icon aria-label="campaign">brightness_medium</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
