<div class="middle">
  <div class="resume-section">
    <div class="resume-item">
      <h3>Education</h3>
      <ul>
        <li>- Baccalauréat in Informatique - Tunis, Tunisia</li>
        <li>- ISET Nabeul - Web Development and Multimedia (3 years)</li>
        <li>
          - ESPRIT Monastir - Engineering Informatique (2 years, in progress)
        </li>
      </ul>
    </div>
    <div class="resume-item skills">
      <h3>Skills</h3>
      <ul>
        <li>Angular</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Java</li>
        <li>C++</li>
        <li>Python</li>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>React (50%)</li>
        <li>....</li>
      </ul>
    </div>
    <div class="resume-item">
      <h3>Experience</h3>
      <ul>
        <li>- Financial Analyst - Crypto Project (NFT)</li>
        <ul>
          <li>
            Worked on analyzing and understanding crypto projects related to
            NFTs.
          </li>
        </ul>
        <li>- Web Developer - Analyst Laboratory Website</li>
        <ul>
          <li>Developed a website for an analyst laboratory.</li>
          <li>Created and maintained various personal websites.</li>
        </ul>
      </ul>
    </div>
    <div class="resume-item">
      <h3>Projects</h3>
      <ul>
        <li>
          <h4>Marketplace for NFT designers (MEAN)</h4>
          <p>
            Genefyt is a marketplace for NFT designers to sell their NFT
            collections.
          </p>
          <a mat-button target="_blank" href="https://github.com/laakri/GENEFYT"
            >GitHub Repository</a
          >
        </li>
        <li>
          <h4>Education website for online learning (MEAN)</h4>
          <p>
            NextGen is an education website offering online courses and learning
            materials.
          </p>
          <a
            mat-button
            target="_blank"
            href="https://github.com/laakri/EducationPFA"
            >GitHub Repository</a
          >
        </li>
        <li>
          <h4>Cavers - Crypto Blogs Website</h4>
          <p>
            Cavers is a crypto blogs website that provides valuable insights and
            information about cryptocurrency for financial success. Users can
            explore a variety of crypto blogs and stay updated on the latest
            trends.
          </p>
          <a mat-button target="_blank" href="https://github.com/laakri/cavers"
            >GitHub Repository</a
          >
        </li>

        <li>
          <h4>NextMunch - Ultimate Food Experience</h4>
          <p>
            NextMunch is a website that revolutionizes food services. Every
            restaurant can create a dedicated page on the website, allowing
            users to easily order food and stay updated on upcoming events.
          </p>
          <a
            mat-button
            target="_blank"
            href="https://github.com/laakri/NextMunch"
            >GitHub Repository</a
          >
        </li>
        <li>
          <h4>Task management made easy (MEAN)</h4>
          <p>
            Tasky is a task manager website that helps you organize and manage
            your tasks effectively.
          </p>
          <a
            mat-button
            target="_blank"
            href="https://github.com/laakri/Task-Manager"
            >GitHub Repository</a
          >
        </li>
        <li>
          <h4>Online medical analysis results (MEAN)</h4>
          <p>
            Labocheba provides an online platform for accessing and viewing your
            medical analysis results.
          </p>
          <a
            mat-button
            target="_blank"
            href="https://github.com/laakri/laboratoires

"
            >GitHub Repository</a
          >
        </li>
        <li>
          <h4>Book hotels in Tunisia (ANGULAR-PHP-MYSQL)</h4>
          <p>
            Tunisaol is a tourism website that allows you to book hotels and
            accommodations in Tunisia.
          </p>
          <a
            mat-button
            target="_blank"
            href="https://github.com/laakri/TourismWeb"
            >GitHub Repository</a
          >
        </li>
      </ul>
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-footer></app-footer>
</div>
