@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body.bright-theme {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitecolor);
  background: var(--darkcolor);
  font-family: 'Inconsolata', monospace;
  --bordercolor: rgb(219, 219, 219);
  --darkcolor: #fcfdfd;
  --soft-darkcolor: #F0F5F9;
  --whitecolor: #000000;
  --graycolor: #444444;
  --maincolor: #079767;
  --maintranscolor: #d6594b80;
  --secondcolor: #c04e14;
  --darktranscolor: #fdfdfdce;
  --soft-darktranscolor: #94959769;
  --buttonactive: #b7b6e5;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitecolor);
  background-color: var(--darkcolor);
  font-family: 'Inconsolata', monospace;
  --darkcolor: #060522;
  --bordercolor: #6f6e6e;
  --soft-darkcolor: rgba(20, 6, 43, 0.403);
  --whitecolor: #fcfdfd;
  --graycolor: #7c8095;
  --maincolor: #11b27c;
  --maintranscolor: #FF7F5080;
  --secondcolor: #c04e14;
  --darktranscolor: #19181ada;
  --soft-darktranscolor: #26272b69;
  --buttonactive: #46526e;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
  color: var(--whtiecolor);
}
.mat-button {
  color: red !important;
}

.fas {
  font-size: 27px;
}
ul {
  list-style-type: none;
}

/********************* -Divider ***************************/

mat-divider {
  margin: auto !important;
  width: 95% !important ;
  background-color: rgba(252, 252, 252, 0.24) !important;
}

