@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body.bright-theme {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitecolor);
  background: var(--darkcolor);
  font-family: 'Inconsolata', monospace;
  --bordercolor: rgb(219, 219, 219);
  --darkcolor: #fcfdfd;
  --soft-darkcolor: #F0F5F9;
  --whitecolor: #000000;
  --graycolor: #444444;
  --maincolor: #11b27c;
  --maintranscolor: #d6594b80;
  --secondcolor: #c04e14;
  --darktranscolor: #fdfdfdce;
  --soft-darktranscolor: #94959769;
  --buttonactive: #b7b6e5;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitecolor);
  background-color: var(--darkcolor);
  font-family: 'Inconsolata', monospace;
  --darkcolor: #060522;
  --bordercolor: #6f6e6e;
  --soft-darkcolor: #0b132a;
  --whitecolor: #fcfdfd;
  --graycolor: #7c8095;
  --maincolor: #11b27c;
  --maintranscolor: #FF7F5080;
  --secondcolor: #c04e14;
  --darktranscolor: #19181ada;
  --soft-darktranscolor: #26272b69;
  --buttonactive: #46526e;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: var(--whitecolor);
}

.fas {
  font-size: 27px;
}

ul {
  list-style-type: none;
}

mat-spinner {
  margin: 200px auto;
  z-index: 1001;
}

.mat-divider {
  border-top-color: rgb(55, 55, 55);
}

.mat-form-field .mat-form-field-label {
  color: var(--darkcolor) !important;
}

.mat-form-field .mat-select-arrow {
  color: var(--darkcolor) !important;
}

.mat-form-field .mat-select-min-line {
  color: var(--darkcolor) !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--darkcolor) !important;
}

