<div class="mainpage">
  <div class="first-content">
    <div class="left-content" data-aos="fade-right">
      <h1>Hi , I'm Seif Eddine Jelassi.</h1>
      <span>
        I'm a passionate web developer creating elegant and efficient solutions.
        Let's build exceptional websites together.
        <br />
        Reach out to me at Glassisaif@gmail.com.
      </span>

      <div class="button-section">
        <a
          mat-button
          target="_blank"
          color="basic"
          href="https://twitter.com/SaifJlassi2"
          class="social-media"
        >
          <i class="fab fa-twitter fa-lg"></i>
          Twitter
        </a>
        <a
          mat-button
          color="basic"
          target="_blank"
          href="https://github.com/laakri"
          class="social-media"
        >
          <i class="fab fa-github"></i>
          Github
        </a>
      </div>
    </div>

    <div class="right-content" data-aos="fade-left">
      <div class="inner-container">
        <div class="slide-content" *ngFor="let items of slideitemss">
          <div class="slide-item" *ngFor="let item of slideItems">
            <span class="small-text">{{ item.smallText }}</span>
            <div class="big-text">{{ item.bigText }}</div>
            <span class="description">{{ item.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="secend-content">
    <div class="chipp">
      <i class="material-icons">keyboard_arrow_right</i>Services
    </div>
    <div class="content-headline">My <span>Specializations</span></div>
    <div class="secend-content-cards">
      <div class="secend-content-card" data-aos="flip-right">
        <div class="spec-text">Web Development</div>
        <span class="spec-description"
          >I specialize in creating dynamic websites and web applications.</span
        >
        <span class="spec-num">6 PROJECTS</span>
      </div>
      <div class="secend-content-card" data-aos="flip-right">
        <div class="spec-text">Mobile App Dev</div>
        <span class="spec-description"
          >I develop mobile applications for iOS and Android platforms.</span
        >
        <span class="spec-num">2 PROJECTS</span>
      </div>
      <div class="secend-content-card" data-aos="flip-right">
        <div class="spec-text">Responsive Design</div>
        <span class="spec-description"
          >I create websites that adapt to different screen sizes and
          devices.</span
        >
        <span class="spec-num">10 PROJECTS</span>
      </div>
    </div>
  </div>
  <div class="slick-carousel-content">
    <div class="chipp">
      <i class="material-icons">keyboard_arrow_right</i>Projects
    </div>
    <div class="slick-carousel-content-size">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="post" data-aos="flip-down">
            <div>
              <img class="post-img" src="{{ slide.img }}" alt="" />
              <img class="post-logo" src="{{ slide.logo }}" alt="" />
            </div>

            <div class="post-tag">
              {{ slide.tag }}
            </div>

            <div class="post-description">
              {{ slide.description }}
            </div>
            <div class="post-more">
              <a mat-raised-button href="{{ slide.github }}" target="_blank">
                View on Github
              </a>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <div class="third-content">
    <div class="chipp">
      <i class="material-icons">keyboard_arrow_right</i>Contact
    </div>
    <div class="content-headline">Contact <span>me</span></div>
    <div class="third-content-contact-section">
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
        <div class="form-row">
          <input
            class="input-field"
            type="email"
            placeholder="Email"
            formControlName="email"
            required
          />
        </div>
        <div class="form-row">
          <textarea
            class="textarea-field"
            placeholder="Message"
            formControlName="message"
            required
          ></textarea>
        </div>

        <button mat-raised-button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <mat-divider></mat-divider>
  <app-footer></app-footer>
</div>
